.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div-2 {
  background-color: #ffffff;
  height: 3881px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.home .overlap-4 {
  height: 857px;
  left: 47px;
  position: absolute;
  top: 0;
  width: 1554px;
}

.home .overlap-5 {
  height: 857px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1554px;
}

.home .vector-5 {
  height: 857px;
  left: 610px;
  position: absolute;
  top: 0;
  width: 783px;
}

.home .rectangle {
  background: linear-gradient(
    180deg,
    rgb(197, 220, 255) 0%,
    rgba(197, 220, 255, 0.5) 96.88%,
    rgba(196, 196, 196, 0) 100%
  );
  border-radius: 5px;
  height: 36px;
  left: 406px;
  position: absolute;
  top: 43px;
  width: 66px;
}

.home .group-16 {
  height: 49px;
  left: 1043px;
  position: absolute;
  top: 38px;
  width: 284px;
}

.home .group-9945 {
  left: 156px !important;
  position: absolute !important;
  top: 0 !important;
}

.home .group-9945-instance {
  background-color: var(--white) !important;
}

.home .group-17 {
  color: var(--black) !important;
  left: 36px !important;
  text-align: center !important;
}

.home .group-18 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.home .navbar {
  height: 21px;
  left: 416px;
  position: absolute;
  top: 51px;
  width: 510px;
}

.home .text-wrapper-23 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home .text-wrapper-24 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home .text-wrapper-25 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home .text-wrapper-26 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 308px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home .text-wrapper-27 {
  color: #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 411px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home .overlap-wrapper {
  height: 618px;
  left: 626px;
  position: absolute;
  top: 167px;
  width: 928px;
}

.home .overlap-6 {
  height: 618px;
  position: relative;
}

.home .character-ikbal-5 {
  left: 0 !important;
  position: absolute !important;
  top: 22px !important;
}

.home .character-ikbal-2 {
  left: 310px !important;
  position: absolute !important;
  top: 0 !important;
}

.home .group-19 {
  height: 457px;
  left: 0;
  position: absolute;
  top: 272px;
  width: 651px;
}

.home .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 306px;
  left: 0;
  position: absolute;
  top: 0;
  width: 647px;
}

.home .text {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.home .span {
  color: #000000;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 0;
}

.home .p {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 336px;
  width: 573px;
}

.home .group-20 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 238px;
}

.home .text-wrapper-28 {
  color: var(--black);
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 7px;
  white-space: nowrap;
}

.home .standard-collection-2 {
  height: 48px;
  left: -4px;
  position: absolute;
  top: 0;
  width: 48px;
}

.home .group-21 {
  height: 42px !important;
  width: 78px !important;
}

.home .group-22 {
  height: 42px !important;
  left: 0 !important;
  position: absolute !important;
  top: 762px !important;
  width: 76px !important;
}

.home .group-23 {
  height: 42px !important;
  width: 76px !important;
}

.home .group-24 {
  left: 18px !important;
  top: 12px !important;
}

.home .overlap-7 {
  height: 1710px;
  left: -623px;
  position: absolute;
  top: 981px;
  width: 2095px;
}

.home .service-component-instance {
  left: 0 !important;
  position: absolute !important;
  top: 300px !important;
}

.home .group-25 {
  height: 477px;
  left: 1429px;
  position: absolute;
  top: 0;
  width: 579px;
}

.home .btn-see-more {
  height: 58px;
  left: -4px;
  position: absolute;
  top: 427px;
  width: 155px;
}

.home .text-wrapper-29 {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 127px;
}

.home .text-wrapper-30 {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 56px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.home .lorem-media-is-a {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 127px;
  width: 573px;
}

.home .group-26 {
  height: 43px;
  left: 1253px;
  position: absolute;
  top: 1012px;
  width: 163px;
}

.home .ellipse {
  background-color: #9b77fe;
  border: 5px solid;
  border-color: #ffffff;
  border-radius: 18px;
  box-shadow: -1px 1px 10px #00000040;
  height: 36px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 36px;
}

.home .ellipse-2 {
  background-color: #9b77fe;
  border-radius: 21.5px;
  box-shadow: -1px 1px 10px #00000040;
  height: 43px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 43px;
}

.home .ellipse-3 {
  background-color: #9b77fe;
  border-radius: 21.5px;
  box-shadow: -1px 1px 10px #00000040;
  height: 43px;
  left: 120px;
  position: absolute;
  top: 0;
  width: 43px;
}

.home .doctor-component-instance {
  left: 583px !important;
  position: absolute !important;
  top: 1140px !important;
}

.home .contact-us-instance {
  left: -36px !important;
  position: absolute !important;
  top: 2835px !important;
}

.home .contact-us-2 {
  width: 1180px !important;
}

.home .contact-us-3 {
  width: 356px !important;
}

.home .rectangle-2 {
  background: linear-gradient(180deg, rgb(144, 131, 213) 0%, rgb(128, 117, 147) 100%);
  height: 72px;
  left: 963px;
  position: absolute;
  top: -296px;
  width: 100px;
}

.home .group-9961 {
  left: 59px !important;
  position: absolute !important;
  top: 3557px !important;
}
